<h1>候選人列表</h1>

<%= icon_link_to("新增候選人", new_candidate_path, "knight") %>
<%= render partial: "banner", locals: {content: "我是廣告"} %>
<table class="table">
  <thead>
    <tr>
      <td>投票</td>
      <td>候選人姓名</td>
      <td>政黨</td>
      <td>email</td>
      <td>政見</td>
      <td>得票數</td>
      <td>處理</td>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "candidate", collection: @candidates %>
  </tbody>
</table>
